#!/usr/bin/env bash

# Make nano the default editor.
export EDITOR='nano';

# Make Python use UTF-8 encoding for output to stdin, stdout, and stderr.
export PYTHONIOENCODING='UTF-8';

# Increase Bash history size. Allow 32³ entries; the default is 500.
export HISTSIZE='32768';
export HISTFILESIZE="${HISTSIZE}";
# Omit duplicates and commands that begin with a space from history.
export HISTCONTROL='ignoreboth';

# Prefer US English and use UTF-8.
export LANG='en_US.UTF-8';
export LC_ALL='en_US.UTF-8';

# Highlight section titles in manual pages.
export LESS_TERMCAP_md="${yellow}";

# Don’t clear the screen after quitting a manual page.
export MANPAGER='less -X';

# # set environment variables
# export MY_REPO_ROOT=$HOME/github/warmlogic;
# export BRANCH_REPO_ROOT=$HOME/github/branch;

# # Set AWS defaults
# # https://docs.aws.amazon.com/cli/latest/userguide/cli-chap-getting-started.html
# # https://docs.aws.amazon.com/cli/latest/userguide/cli-environment.html
# export AWS_DEFAULT_PROFILE=personal; # or run `export AWS_PROFILE=personal`
# export AWS_DEFAULT_REGION=us-west-2;
# export AWS_DEFAULT_OUTPUT=text;

# export GITHUB_AUTH_TOKEN='';
